body {
    background-color: rgba(105, 105, 105, 0.639);
    font: normal 20px comic;
}

header {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.581);
    font: normal arial 20px;
    width: 500px;
    height: 500px;
    
}

footer {
    text-align: center;
    font-style: italic;
}

#img {
    width: 500px;
    height: 333px;
}